<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>card list</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/cardListGrid.css">
</head>
<body>

<p>card list page</p>
<div id="card-list-btn-space">
  card-list-btn-space
  <button class="card-list-btn" id="filter-btn">필터</button>
  <button class="card-list-btn" id="create-card-btn">카드 만들기</button>
</div>
<div id="filter-btn-space">
  filter-btn-space
  <button class="card-list-btn filter">모두 보기</button>
  <button class="card-list-btn filter">확언 카드</button>
  <button class="card-list-btn filter">내가 만든 카드</button>
  <button class="card-list-btn filter">focus한 카드</button>
</div>
<div id="card-list-space">
  card-list-space
  <!--  <div>-->
  <!--    card-space-->
  <!--    <button class="card-space" id="focus-btn">focus btn</button>-->
  <!--    <p class="card-space" id="card-content">card-content</p>-->
  <!--    <hr>-->
  <!--    <div class="card-space letter-info" id="letter-info">-->
  <!--      <p class="card-space letter-info" id="letter-created-date">letter created date</p>-->
  <!--      <p class="card-space letter-info" id="letter-preview-content">letter preview content</p>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
<div id="card-list-pagination-space">
  card-list-pagination-space
</div>

<script type="module" src="/js/cardListPage.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

