<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>card list</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
</head>
<body>

{{> layout/navigation}}

<div class="container mt-5">
  <div class="row justify-content-end">
    <div class="btn-group col-lg-4" role="group">
      <button type="button" class="act-btn card-list-btn btn btn-info" id="create-card-btn">카드
        만들기
      </button>
      <button type="button" class="act-btn card-list-btn filter btn btn-primary"
              id="affirmation-filter-btn" data-on-off="false">확언 카드
      </button>
      <button type="button" class="act-btn card-list-btn filter btn btn-primary"
              id="custom-filter-btn" data-on-off="false">내가 만든 카드
      </button>
      <button type="button" class="act-btn card-list-btn filter btn btn-primary"
              id="focus-filter-btn" data-on-off="false">focus한 카드
      </button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-2" id="card-list-space"></div>
  </div>
</div>

{{> layout/pagination}}

<script type="module" src="/js/card/cardList/cardList.js"></script>
</body>
</html>

