<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>card list</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/card/cardCreate.css">
</head>
<body>

<div id="create-card-space">
  <div id="modal-header-space">
    <label for="custom-card-content" id="card-create-label">카드 만들기</label>
    <div id="create-card-empty-space"></div>
    <button id="modal-close-btn">X</button>
  </div>
  <textarea id="custom-card-content"></textarea>
  <button id="custom-card-create-btn">저장</button>
</div>

<script type="text/javascript" src="/js/card/cardCreate/cardCreateEvent.js"></script>
</body>
</html>

