<!DOCTYPE HTML>

<html lang="ko">
<head>

  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
</head>
<body>

<!-- 카드 수정/생성 모달 -->
{{> contents/card/modal/create}}

<!-- 카드 삭제 경고 모달 -->
{{> contents/card/modal/warning}}

<!-- 카드 쓰기 모달 -->
{{> contents/card/modal/write}}

<!-- 카드 목표치 달성 모달 -->
{{> contents/card/modal/reward}}

</body>
</html>