<!DOCTYPE HTML>
<html>
<head>
  <title>Typing Challenge</title>
  <link rel="stylesheet" type="text/css" href="/css/cardWrite.css">
</head>
<body>
<div id="card-write-space">
  <div id="modal-header-space">
    <label for="card-write-content" id="card-write-label">확언 쓰기</label>
    <div id="create-card-empty-space"></div>
    <button id="modal-close-btn">X</button>
  </div>
  <div id="text-container">
    <div>
      <div id="card-content-answer"></div>
      <div id="write-count"></div>
      <div id="display-output"></div>
      <textarea id="card-write-content"></textarea>
    </div>
  </div>
</div>

</body>
</html>
