<!DOCTYPE HTML>
<html>
<head>
</head>
<body>

<div id="focus-card-space" class="back-darkgray" style="display: none">
  <div id="focus-card-title" class="font-orange">
  </div>
  <div id="focus-card-container-space" class="container">
    <h2 class="text-primary">Focus Cards</h2>
    <hr>
    <div id="focus-card-contents-space"
         class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-2 mb-5 p-0"
         style="max-height: 480px; overflow-y: scroll;">
    </div>
  </div>
</div>

<script type="module" src="/js/card/focus/focus.js"></script>
</body>
</html>
