<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/card/cardListGrid.css">
  <link rel="stylesheet" type="text/css" href="/css/card/focus.css">
  <link rel="stylesheet" type="text/css" href="/css/card/focusMobile.css">
</head>
<body>

<div id="focus-card-space" class="back-darkgray">
  <div id="focus-card-title" class="font-orange">Focus Cards</div>
  <div id="focus-card-container-space">
    <div id="focus-card-contents-space"></div>
  </div>
</div>

<script type="module" src="/js/card/focus/focus.js"></script>
</body>
</html>
