<!DOCTYPE HTML>

<html lang="ko">
<head>
  <meta http-equiv="Content-Type" charset="UTF-8"
        name="description" content=""/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>
  <link rel="stylesheet" type="text/css" href="/css/letter/letterRead.css">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVX87W8KPF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PVX87W8KPF');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-M84XHXGR');</script>
  <!-- End Google Tag Manager -->
</head>
<body>

{{> layout/navigation}}

<div class="my-5"></div>

<div class="float-btn-space z-3" style="width: 50px;">
  <div class="filter-group">
    <button class="filter btn btn-secondary flb flb-ch" id="copy-link-btn-mb"
            data-on-off="false">
      <i class="bi bi-link-45deg justify-content-center align-items-center"
         style="font-size: 25px;"></i>
    </button>
    <button class="filter btn btn-secondary flb flb-ch" id="card-write-btn-mb"
            data-on-off="false">
      <i class="bi bi-pencil-square justify-content-center align-items-center"
         style="font-size: 23px;"></i>
    </button>
    <button class="btn btn-primary flb" id="flb-root">
      <i class="bi bi-plus-lg justify-content-center align-items-center"
         style="font-size: 25px;"></i>
    </button>
  </div>
</div>

<div class="container col-lg-6 col-md-9 justify-content-center" id="read-letter-space">
  <div class="row ">
    <div id="letter-img"></div>
  </div>
  <div class="row">
    <h1 id="letter-title"></h1>
  </div>
  <hr class="mb-1">
  <div class="row" id="letter-info-space">
    <div class="d-flex">
      <div class="d-inline-flex" id="letter-post-date"></div>
      <div class="flex-fill"></div>
      <div class="d-inline-flex">
        <p class="" id="author-name"></p>
      </div>
    </div>
  </div>
  <div id="letter-content"></div>
  <div id="login-page-div" style="margin-top: 30px; margin-bottom: 500px; display: none">
    <hr>
    <div class="row justify-content-center text-center">
      <h3 class="text-primary">
        이 편지를 더 읽고 싶다면
      </h3>
      <h3 class="text-primary mb-3">
        회원가입/로그인이 필요해요!
      </h3>
      <h5>로그인도 회원가입도 30초만에!</h5>
      <h5>간편하게 로그인하고 무료로 읽어보세요!</h5>
      <button class="btn btn-primary mt-2" id="go-to-login-page-btn" style="width: 150px">
        회원가입/로그인
      </button>
    </div>
    <hr>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        링크 복사 완료!
      </div>
      <button type="button" class="btn-close btn-close-primary me-2 m-auto" data-bs-dismiss="toast"
              aria-label="Close"></button>
    </div>
  </div>
</div>

{{> contents/card/modal/create}}
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="/js/letter/read/letterRead.js"></script>
</body>
</html>
