<!doctype html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Document</title>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="letterReadInfoModal" tabindex="-1"
     aria-labelledby="letterReadInfoModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3 text-primary" id="letterReadInfoModalLabel">Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-content-body">
        <span id="email" class="h4 text-dark">
        </span>
        님이 <br/>보유한 스탬프는
        <span id="stamp" class="h4 text-dark">
        </span>
        개 입니다.
        <p>스탬프를 사용하여 편지를 읽으시겠습니까?</p>
        <br/>
        <p id="stamp-get-info" class="text-secondary">스탬프는 하루에 한번 카드쓰기 목표 달성시 얻을 수 있습니다.<br/>
          오늘의 편지는 스탬프를 사용하지 않습니다.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn btn-primary" id="go-to-card-list-btn">카드 목록 보기</button>
        <button type="button" class="btn btn btn-primary" id="letter-read-btn">편지 읽기</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>