<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>letter page</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/letter/letterRead.css">
</head>
<body>
{{> layout/navigation}}

<div id="read-letter-space">
  <div id="letter-img"></div>
  <div id="letter-title"></div>
  <div id="line"></div>
  <div id="letter-info-space">
    <div id="letter-post-date"></div>
    <div id="letter-info-empty"></div>
    <div id="author-name"></div>
  </div>
  <div id="letter-content"></div>
</div>

<script type="module" src="/js/letter/read/letterRead.js"></script>
</body>
</html>
