<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/letter/today.css">
  <link rel="stylesheet" type="text/css" href="/css/letter/todayMobile.css">
</head>
<body>

<div id="today-space">
  <div id="image-space">
    <div id="today-text" class="font-orange back-darkgray">Today</div>
    <img id="today-img">
  </div>
  <div id="today-letter-info-space" class="back-darkgray">
    <div id="today-letter-timer">
      <div id="today-letter-promotion">이 시간이 지나면 <br/>읽을 수 없는 편지</div>
      <img id="hourglass">
      <div id="today-timer"></div>
    </div>
    <div id="today-letter-line" class="font-orange"></div>
    <div id="today-letter-spacer" class="spacer"></div>
    <div id="today-letter-type" class="font-orange">Today</div>
    <div id="today-letter-title"></div>
    <div id="today-letter-contents"></div>
  </div>
</div>

<script type="module" src="/js/letter/today/today.js"></script>
</body>
</html>