<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post 서비스란?</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/landing.css">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVX87W8KPF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PVX87W8KPF');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-M84XHXGR');</script>
  <!-- End Google Tag Manager -->
</head>

<body>
{{> layout/navigation}}
<div class="container-fluid p-0 h-100"
     style="">
  <div class="row d-flex justify-content-center">
    <video src="https://lifepost-img.s3.ap-northeast-2.amazonaws.com/video/lifepostIntroduce.mov"
           muted autoplay loop id="intro-video"></video>
  </div>
  <div class="row d-flex justify-content-center p-0" id="video-mobile-div">
    <video class="p-0"
           src="https://lifepost-img.s3.ap-northeast-2.amazonaws.com/video/lifepost-introduce-mobile.mov"
           muted autoplay loop id="intro-video-mobile"></video>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>

