<head>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <title></title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-bottom">
  <div class="container-fluid d-flex justify-content-center">
    <div class="d-flex justify-content-between" style="width: 80%">
      <a href="/" class="bottom-nav-btn border-0" id="nav-letter-btn" data-type="letter"
         style="background-color: transparent">
        <img class="nav-btn-img-on" src="/img/nav-letter-on.png" alt="Your Icon"
             id="nav-letter-on"
             style="width: 45px;"/>
        <img class="nav-btn-img-off d-none" src="/img/nav-letter-off.png" id="nav-letter-off"
             alt="Your Icon"
             style="width: 45px;"/>
      </a>
      <a href="/card/list/page" class="bottom-nav-btn border-0" id="nav-card-btn" data-type="card"
         style="background-color: transparent">
        <img class="nav-btn-img-on d-none" src="/img/nav-card-on.png" alt="Your Icon"
             id="nav-card-on"
             style="width: 45px;"/>
        <img class="nav-btn-img-off " src="/img/nav-card-off.png" id="nav-card-off"
             alt="Your Icon"
             style="width: 45px;"/>
      </a>
      <a href="/mypage/page" class="bottom-nav-btn border-0" id="nav-motive-btn" data-type="motive"
         style="background-color: transparent">
        <img class="nav-btn-img-on d-none" src="/img/nav-motive-on.png" id="nav-motive-on"
             alt="Your Icon"
             style="width: 45px;"/>
        <img class="nav-btn-img-off" src="/img/nav-motive-off.png" id="nav-motive-off"
             alt="Your Icon"
             style="width: 45px;"/>
      </a>
    </div>
  </div>
</nav>

<script type="module" src="/js/navigation/bottomNavigation.js"></script>