<!DOCTYPE HTML>

<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/introduceLoading.css">
</head>

<body>
<div class="d-flex bg-primary d-none" id="introduce-loading-div">
  <div class="row text-align-center">
    <h1 class="text-light p-0 m-0" id="intro-title">Life Post</h1>
    <hr class="text-light p-0 m-0">
    <p class="text-light p-0 mt-2" id="intro-content">삶의 변화를 원하는 이들의 공간</p>
  </div>
</div>

<script src="/js/layout/introduceLoading.js"></script>
</body>
</html>