<!DOCTYPE HTML>

<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/pagination.css">
</head>
<body>

<div id="pagination-space"></div>

<script type="module" src="/js/pagination/pagination.js"></script>
</body>
</html>
