<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <script async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1619031039737095"
          crossorigin="anonymous"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVX87W8KPF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-PVX87W8KPF');
  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start':
          new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-M84XHXGR');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
{{> layout/navigation}}

<div class="container d-flex justify-content-center">
  <div class="row col-md-6">
    <p
        style="text-align: center; font-size: 20px; font-weight: bold; padding: 52px 0px 40px 0px; margin: 0px;"
        data-mce-style="text-align: center; font-size: 20px; font-weight: bold; padding: 52px 0px 40px 0px; margin: 0px;">
      개인정보처리방침</p>
    <p><br></p>
    <p><strong>제1조(목적)</strong></p>
    <p><span class="fw-bold">MOU</span>(이하 ‘회사'라고 함)는 회사가 제공하고자 하는 서비스(이하 ‘회사 서비스’)를 이용하는 개인(이하
      ‘이용자’ 또는 ‘개인’)의 정보(이하 ‘개인정보’)를 보호하기 위해, 개인정보보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 '정보통신망법') 등 관련
      법령을 준수하고, 서비스 이용자의 개인정보 보호 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보처리방침(이하 ‘본 방침’)을
      수립합니다.</p>
    <p><br></p>
    <p><strong>제2조(개인정보 처리의 원칙)</strong></p>
    <p>개인정보 관련 법령 및 본 방침에 따라 회사는 이용자의 개인정보를 수집할 수 있으며 수집된 개인정보는 개인의 동의가 있는 경우에 한해 제3자에게 제공될
      수
      있습니다. 단, 법령의 규정 등에 의해 적법하게 강제되는 경우 회사는 수집한 이용자의 개인정보를 사전에 개인의 동의 없이 제3자에게 제공할 수도 있습니다.</p>
    <p><br></p>
    <p><strong>제3조(본 방침의 공개)</strong></p>
    <ol>
      <li>회사는 이용자가 언제든지 쉽게 본 방침을 확인할 수 있도록 회사 홈페이지 첫 화면 또는 첫 화면과의 연결화면을 통해 본 방침을 공개하고 있습니다.
      </li>
      <li>회사는 제1항에 따라 본 방침을 공개하는 경우 글자 크기, 색상 등을 활용하여 이용자가 본 방침을 쉽게 확인할 수 있도록 합니다.</li>
    </ol>
    <p><br></p>
    <p><strong>제4조(본 방침의 변경)</strong></p>
    <ol>
      <li>본 방침은 개인정보 관련 법령, 지침, 고시 또는 정부나 회사 서비스의 정책이나 내용의 변경에 따라 개정될 수 있습니다.</li>
      <li>회사는 제1항에 따라 본 방침을 개정하는 경우 다음 각 호 하나 이상의 방법으로 공지합니다.
        <ol>
          <li>회사가 운영하는 인터넷 홈페이지의 첫 화면의 공지사항란 또는 별도의 창을 통하여 공지하는 방법</li>
          <li>서면·모사전송·전자우편 또는 이와 비슷한 방법으로 이용자에게 공지하는 방법</li>
        </ol>
      </li>
      <li>회사는 제2항의 공지는 본 방침 개정의 시행일로부터 최소 7일 이전에 공지합니다. 다만, 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일
        전에
        공지합니다.
      </li>
    </ol>
    <p><br></p>
    <p><strong>제5조(회원 가입을 위한 정보)</strong></p>
    <p>회사는 이용자의 회사 서비스에 대한 회원가입을 위하여 다음과 같은 정보를 수집합니다.</p>
    <ol>
      <li>필수 수집 정보:&nbsp;<span class="fw-bold">이메일 주소</span></li>
      <li>선택 수집 정보: <span class="fw-bold">이름, 프로필 사진, 닉네임</span>&nbsp;
      </li>
    </ol>
    <p><br></p>
    <p><strong>제6조(본인 인증을 위한 정보)</strong></p>
    <p>회사는 이용자의 본인인증을 위하여 다음과 같은 정보를 수집합니다.</p>
    <ol>
      <li>필수 수집 정보:&nbsp;<span class="fw-bold">이메일 주소</span>&nbsp;</li>
    </ol>
    <p><br></p>
    <p><strong>제7조(회사 서비스 제공을 위한 정보)</strong></p>
    <p>회사는 이용자에게 회사의 서비스를 제공하기 위하여 다음과 같은 정보를 수집합니다.</p>
    <ol>
      <li>필수 수집 정보:&nbsp;<span class="fw-bold">이메일 주소</span></li>
    </ol>
    <p><br></p>
    <p><strong>제8조(서비스 이용 및 부정 이용 확인을 위한
      정보)</strong>
    </p>
    <p>회사는 이용자의 서비스 이용 및 부정이용의 확인 및 분석을 위하여 다음과 같은 정보를 수집합니다.</p>
    <ol>
      <li>필수 수집 정보:&nbsp;<span class="fw-bold">서비스 이용기록 및 기기정보</span>
      </li>
    </ol>
    <p>※ 부정이용 : 회원탈퇴 후 재가입, 상품구매 후 구매취소 등을 반복적으로 행하는 등 회사가 제공하는 할인쿠폰, 이벤트 혜택 등의 경제상 이익을
      불·편법적으로
      수취하는 행위, 이용약관 등에서 금지하고 있는 행위, 명의도용 등의 불·편법행위 등을 말합니다. 수집되는 정보는 회사 서비스 이용에 따른 통계∙분석에 이용될 수
      있습니다.</p>
    <p><br></p>
    <p><strong><br>부칙</strong></p>
    <p>제1조 본 방침은 <span class="fw-bold">2023.09.25</span>부터 시행됩니다.</p>
    <br>
    <br>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>