#nav-empty {
  height: 100px;
  flex: 1;
}

#nav-space {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: fixed;
  z-index: 500;
}

#logout-membership {
  height: 45%;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F89705;
}

#login-membership {
  height: 45%;
  padding-left: 5px;
  font-size: 20px;
  color: white;
  justify-content: start;
  align-content: center;
  flex-wrap: wrap;
  background-color: #961B1B;
}

#navigation {
  height: 55%;
  display: flex;
  padding-left: 5px;
  text-align: start;
  align-items: center;
  background-color: #F4EFD6;
}

#nav-home-link {
  font-size: 30px;
  font-weight: bold;
}

.logout-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 991px) {

  #nav-menu {
    background-color: black;
    width: 50px;
    height: 100%;
  }

  #logout-nav-menu {
    align-items: center;
    height: 100%;
    padding: 0;
  }

  #login-nav-menu {
    align-items: center;
    height: 100%;
    padding: 0;
  }

  #nav-mobile-menu-btn-space {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  /* mobile */
  #logout-nav-menu {
    display: none;
  }

  #login-nav-menu {
    display: none;
  }

  #nav-mobile-menu-btn {
    top: 55px;
    right: 5px;
    position: absolute;
    appearance: none;
    border: none;
    background-color: transparent;
    width: 42px;
    height: 31px;
    margin-right: 5px;
    background-image: url("../img/nav-btn.png");
  }

  #nav-mobile-menu-btn:hover {
    cursor: pointer;
  }

  .drop-menu.ul {
    top: 55px;
    right: 10px;
    font-size: 35px;
    background-color: coral;
    list-style: none;
    position: absolute;
    flex-direction: column;
    justify-items: left;
    justify-content: center;
    padding: 5px 5px 0px 5px;
  }

  .drop-menu.li {
    margin-bottom: 5px;
    border-bottom: 1px solid white;
  }

  /* mobile */
}

.navi-on {
  display: flex;
}

.off {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-menu.ul {
  list-style: none;
  padding: 0;
  height: 10px;
}

.nav-menu.li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;;
}