.page-btn {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  margin-left: 10px;
  background-color: darkorange;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-on {
  background-color: lightgoldenrodyellow;
  border: 2px solid darkorange;
}

#pagination-space {
  display: flex;
  justify-content: center;
}

#page-btn-space {
  display: flex;
  justify-content: center;
}