<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/letter/letterGrid.css">
  <link rel="stylesheet" type="text/css" href="/css/card/cardGrid.css">
</head>
<body>
{{> layout/navigation}}
<div class="container">
  <div id="lp-title">
    <div><h1>Forbidden access. subscribe now!</h1></div>
  </div>
</div>

</body>
</html>

