<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" type="text/css" href="/css/card/cardGrid.css">
</head>
<body>

{{> layout/navigation}}

<div id="index-space">
  <div class="spacer"></div>
  {{> contents/letter/today}}
</div>

<div class="container">
  <div id="lp-title">
    <div id="today-letter-grid"></div>
    <div id="today-card-grid"></div>
  </div>
</div>

<script type="module" src="/js/indexPage.js"></script>
</body>
</html>

