<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/default.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

{{> layout/navigation}}

<div id="index-letter-space">
  {{> contents/letter/today}}
</div>

<div id="index-card-space">
  {{> contents/card/focus}}
</div>

<script type="module" src="/js/indexPage.js"></script>
</body>
</html>

