<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet" type="text/css" href="/css/letterGrid.css">
  <link rel="stylesheet" type="text/css" href="/css/cardGrid.css">
</head>
<body>

{{> layout/navigation}}
<div class="container">
  <div id="lp-title">
    <div id="today-letter-grid"></div>
    <div id="today-card-grid"></div>
    <div id="letter-grid-containers"></div>
  </div>
</div>

<script type="module" src="/js/indexPage.js"></script>
</body>
</html>

