<!DOCTYPE HTML>

<html lang="ko">
<head>
  <title>Life Post</title>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" style="height: 100vh">
  <div class="d-flex justify-content-center" id="life-post">
    <div>
      <h1>Life Post</h1>
    </div>
  </div>

  <div class="d-flex" style="height: 70vh"></div>

  <div class="d-flex flex-column align-items-center" style="height: 15vh">
    <div>
      <button type="button" class="login-btn" id="kakao-login">
        <a href="http://localhost:8080/oauth2/authorization/kakao">kakao login</a>
      </button>
    </div>
    <div class="p-1"></div>
    <div>
      <button type="button" class="login-btn" id="apple-login">apple login</button>
    </div>
    <div class="p-1"></div>
    <div>
      <button type="button" class="login-btn" id="google-login">google login</button>
    </div>
    <div class="p-1"></div>
  </div>
  <div class="d-flex p-2"></div>
</div>

<script type="module" src="/js/loginPage.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>