#read-letter-space {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-left: 30%;
  padding: 20px;
}

#letter-title {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

#line {
  border-top: 1px solid black;
  padding-bottom: 5px;
}

#letter-post-date {
  font-size: 20px;
}

#author-name {
  font-size: 20px;
}

#letter-info-space {
  display: flex;
  padding-bottom: 30px;
}

#letter-info-empty {
  flex: 1;
}

#letter-content {
  font-size: 20px;
}