#letter-list-btn-space {
  display: flex;
  flex-direction: row;
}

#act-btn-space {
  display: none;
}

#letter-list-btn-space {
  display: flex;
  flex-direction: column;
}

.filter {
  text-align: center;
  background-color: #FFCD82;
  border: none;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  border-radius: 8px;
}

.btn-on {
  background-color: lightgoldenrodyellow;
  border: 2px solid darkorange;
}

.row-flex-div {
  display: flex;
  flex-direction: row;
}

.filter {
  margin-right: 10px;
  margin-bottom: 5px;
}

.filter:hover {
  cursor: pointer;
}

.spacer {
  display: flex;
  flex: 1;
}

#email {
  color: orange;
  font-weight: bold;
}

#stamp {
  color: orange;
  font-weight: bold;
}

#filter-btn {
  width: 50px;
}

#letter-list-space {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10%;
  justify-content: center;
}

