<!-- 카드 수정/생성 모달 -->
<div class="modal fade" id="letter-read-on-boarding-modal" tabindex="-1"
     aria-labelledby="letter-read-on-boarding-modal-label"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="modal-img-content">
      <div class="modal-header z-3 border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                id="modal-close-btn"></button>
      </div>
      <div
          class="modal-body on-boarding active z-3 d-flex justify-content-center align-items-center"
          data-page-id=1 id="modal-content-body-1"
          style="height: 490px">
        <div
            class="form-floating mb-3 d-flex justify-content-center align-items-center row text-center">
          <h1 class="text-primary" style="font-weight: bold">생각을 변화시킬 편지!</h1>
          <h3>편지를 읽고</h3>
          <h3>성공을 향한 여정을 시작하세요!</h3>
          <img class="mt-3" src="/img/onboarding/page1.png" alt="..." style="width: 250px">
        </div>
      </div>
      <div
          class="modal-body on-boarding d-none z-3 d-flex justify-content-center align-items-center"
          data-page-id=2 id="modal-content-body-2"
          style="height: 490px">
        <div class="form-floating mb-3 d-flex justify-content-center row text-center">
          <h1 class="text-primary" style="font-weight: bold;">기억보다 효과적인 <span
              style="color: orange">기록!</span></h1>
          <h4>편지를 읽고 카드에 기록해보세요!</h4>
          <h4>카드 작성과 공유 기능을 같이 살펴봐요!</h4>
          <div class="d-flex justify-content-center mt-2">
            <img src="/img/onboarding/remember.png" alt="..." style="width: 200px">
          </div>
        </div>
      </div>
      <div
          class="modal-body on-boarding d-none z-3 d-flex justify-content-center align-items-center"
          data-page-id=3 id="modal-content-body-3"
          style="height: 490px">
        <div class="form-floating mb-3 d-flex justify-content-center row text-center">
          <h1 class="text-primary" style="font-weight: bold">우측 하단의</h1>
          <h2>+버튼을 눌러보세요!</h2>
          <img src="/img/onboarding/page2.png" class="mt-3" alt="..." style="width: 330px">
        </div>
      </div>
      <div
          class="modal-body on-boarding d-none z-3 d-flex justify-content-center align-items-center"
          data-page-id=4 id="modal-content-body-4"
          style="height: 490px">
        <div class="form-floating mb-3 d-flex justify-content-center row text-center">
          <h1 class="text-primary" style="font-weight: bold">카드 쓰기 버튼을 눌러보세요!</h1>
          <h3 class="mt-4">생각과 감정을 자유롭게 기록하세요.</h3>
          <h3>마인드 세팅을 시작해보세요!</h3>
          <div class="d-flex justify-content-center mt-2">
            <img src="/img/onboarding/cardWrite.png" alt="..." style="width: 80px">
          </div>
        </div>
      </div>
      <div
          class="modal-body on-boarding d-none z-3 d-flex justify-content-center align-items-center"
          data-page-id=5 id="modal-content-body-5"
          style="height: 490px">
        <div class="form-floating mb-3 d-flex justify-content-center row text-center">
          <h1 class="text-primary" style="font-weight: bold">웹상의 이미지 URL로</h1>
          <h3>카드를 꾸며보세요!</h3>
          <div class="d-flex justify-content-center mt-2">
            <img class="mt-2" src="/img/onboarding/cardWriteInfo.png" alt="..."
                 style="width: 330px">
          </div>
          <h6 class="mt-4">카드 쓰기 기능은 로그인이 필요합니다.</h6>
        </div>
      </div>
      <div
          class="modal-body on-boarding d-none z-3 d-flex justify-content-center align-items-center"
          data-page-id=6 id="modal-content-body-6"
          style="height: 490px">
        <div class="form-floating mb-3 d-flex justify-content-center row text-center">
          <h1 class="text-primary" style="font-weight: bold">좋은 건 나누는 정!</h1>
          <h3 class="mt-4">편지 링크 버튼으로</h3>
          <h3>가족과 지인들에게 공유해보세요!</h3>
          <div class="d-flex justify-content-center mt-2">
            <img src="/img/onboarding/link.png" alt="..." style="width: 80px">
          </div>
          <h6 class="mt-3">버튼을 클릭하면 편지 링크가 복사됩니다.</h6>
        </div>
      </div>
      <div class="modal-footer z-3 d-flex justify-content-between">
        <button type="button" class="btn btn-primary disabled" id="previous-btn">이전</button>
        <div class="dot-indicator">
          <span id="dot-1" data-dot-id=1 class="dot active"></span>
          <span id="dot-2" data-dot-id=2 class="dot"></span>
          <span id="dot-3" data-dot-id=3 class="dot"></span>
          <span id="dot-4" data-dot-id=4 class="dot"></span>
          <span id="dot-5" data-dot-id=5 class="dot"></span>
          <span id="dot-6" data-dot-id=6 class="dot"></span>
        </div>
        <button type="button" class="btn btn-primary" id="next-btn">다음</button>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/letter/read/letterOnBoarding.js"></script>
